// This is a personal academic project. Dear PVS-Studio, please check it.
// PVS-Studio Static Code Analyzer for C, C++, C#, and Java: http://www.viva64.com
{% import "base_macros.tmpl" as common %}
{% set file_name = name  %}
{{ common.add_file_secription(file_name+'.cpp') }}
{% autoescape false %}

/* Simulink */
#include "mex.h"

#include "{{ common.get_namespace(name) }}_matlab_serialize.h"
#include "{{ common.get_namespace(name) }}_matlab_udt_api.h"

void mexFunction(int nlhs, mxArray *plhs[], int nrhs, const mxArray *prhs[])
{
    using namespace {{ common.get_namespace(name) }};
    using namespace {{ common.get_namespace(name) }}::matlab;
    typedef CMatlabHandler<MEX_FUNCTION_FOR> handler_t;
    handler_t::sMArgumentParse(nlhs, plhs, nrhs , prhs);
}
{% endautoescape %}