#include(CheckSymbolExists)
#include(CheckFunctionExists)
#include(CheckLibraryExists)
include(CheckIncludeFileCXX)
#include(CheckIncludeFile)
include(CheckIncludeFiles)
#include(CheckCXXSourceCompiles)
#include(CheckTypeSize)

check_include_files(stdint.h HAVE_STDINT_H)

if (MSVC)
	option(BUILD_BY_MP "Set to ON to build  with the /MP option (Visual Studio 2005 and above)." ON)
	if(BUILD_BY_MP)
    	set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} /MP")
	endif(BUILD_BY_MP)
	
	#[[set_property(TARGET  APPEND PROPERTY 
	COMPILE_FLAGS 
		"/INCREMENTAL:NO
		/OPT:NOREF
		/OPT:NOICF
		/GL
		/MANIFEST:NO
		/LTCG")]]
	
	list(APPEND ${PROJECT_NAME}_PLATFORM_DEFENITIONS 
				_CRT_SECURE_NO_WARNINGS
				NOMINMAX
				_USE_MATH_DEFINES
				)
endif(MSVC)

		