include(FindPackageHandleStandardArgs)

################################################################################
#Look for packages
################################################################################

find_package(log4cplus)

find_package(SHARE REQUIRED)

if(NOT SHARE_FOUND)
	message(FATAL "SHARE (http://github.com/CrazyLauren/UDT) could not be found. Set SHARE_INCLUDE_PATH to point to the headers adding '-DSHARE_INCLUDE_PATH=/path/to/udt/share' to the cmake command.")	
	return()
endif()

find_package(udt_share REQUIRED)

if(NOT udt_share_FOUND)
	message(FATAL "udt_share (http://github.com/CrazyLauren/UDT) could not be found.")
	return()
endif()

find_package(customer REQUIRED)

if(NOT customer_FOUND)
	message(FATAL "customer (http://github.com/CrazyLauren/UDT) could not be found.")
	return()
endif()

if(NOT DEFINED BOOST_ROOT)
	SET(BOOST_ROOT ${${PROJECT_NAME}_DEPENDENCIES_PATH})
endif(NOT DEFINED BOOST_ROOT)

find_package(Boost 1.56)
