if(${CMAKE_VERSION} VERSION_LESS "3.8")
    message(WARNING "\nCannot build another language binding as cmake version less than 3.8 \n\n")
elseif(SWIG_FOUND)
    if(POLICY CMP0078)
        cmake_policy(SET CMP0078 NEW)
    endif(POLICY CMP0078)
    if(POLICY CMP0086)
        cmake_policy(SET CMP0086 NEW)
    endif(POLICY CMP0086)
    if(${SWIG_VERSION} VERSION_GREATER_EQUAL 4)
        list(APPEND CMAKE_SWIG_FLAGS "-doxygen")
    endif()
    if(${${PROJECT_NAME}_BUILD_COMPONENT_PYTHON})
        include(python_source.cmake)
    endif()
endif()